<ol class="breadcrumb noprint">
	<li ng-if="userCtx.type == 'user'"><a ui-sref="main.projects" translate="shared.projects"></a></li>
	<li class="active" title="{{masterProject.name}}" ng-bind="masterProject.name|maxLength:50"></li>
	<li class="active" translate="project.revisions"></li>
</ol>

<div class="alert alert-info" translate="project.revisions_info"></div>

<legend translate="project.revisions"></legend>

<table class="table table-bordered table-condensed">
	<thead>
		<tr>
			<th style="width: 20%">Date / Heure</th>
			<th style="width: 20%">Utilisateur</th>
			<th>Modification apportées</th>
			<th></th>
		</tr>
	</thead>
	<tbody ng-repeat="revision in ::revisions">
		<tr>
			<td>
				{{::revision.date|date:'medium'}}<br/>
			</td>
			<td>{{::revision.user}}</td>
			<td ng-bind-html="::revision|humanizePatch"></td>
			<td><a class="btn btn-default btn-xs" ng-if="revision.reversable">Revenir à cette version</a></td>
		</tr>
	</tbody>
</table>
